*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body > * {
  border: 1px solid #000;
}
section {
  background-color: rgb(255, 200, 0);
  float: left;
  padding: 10px;
  margin-top: 15px;
  width: 70%;
}
aside {
  background-color: rgb(255, 200, 0);
  float: right;
  width: 25%;
  margin-top: 15px;
}
span.b {
  font-weight: bolder;
}
span:nth-child(2) {
  font-style: italic;
}
.nav {
  background-color: rgb(255, 200, 0);
  text-align: center;
}
