$colorFondoPrincipalNavbar: #dbdad4;
$colorTexto: #c76839;
$colorTextoSec: #832f06;
$colorPrincipal: #c82a16;

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin default-p {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
}

@mixin responsiveMin($min, $columns) {
  @media only screen and (min-width: $min) {
    .grid-contenedor {
      grid-template-columns: repeat($columns, 1fr);
    }
  }
}
@mixin responsiveMax($max, $columns, $extra-styles: null) {
  @media only screen and (max-width: $max) {
    .grid-contenedor {
      grid-template-columns: repeat($columns, 1fr);
    }

    @if $max == 1024px {
      .cuerpo-tarjeta {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 6px;
      }
      .boton {
        border-radius: 2px;
        width: 100%;
        text-align: center;
      }
    } @else if $max == 720px {
      .navbar {
        flex-wrap: wrap;
      }
    }

    @if $extra-styles {
      @content;
    }
  }
}
/* Estilos */
.navbar {
  background-color: $colorFondoPrincipalNavbar;
  padding: 1rem 1.5rem;
  box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  justify-content: space-around;
}

.logo {
  @include flexbox-center;
  img {
    height: 6rem;
    margin-left: 0.625rem;
  }
  h1 {
    color: $colorTexto;
    font-size: 2.25rem;
  }
  a.header,
  a.footer {
    @include flexbox-center;
    @include default-p;
  }
}
.logo-footer {
  span {
    color: $colorTexto;
    font-size: 1.25rem;
  }
}
.menu,
.menu-footer {
  @include flexbox-center;
  @include default-p;
  flex-wrap: wrap;
  font-size: 1.5rem;

  li {
    margin: 0 1rem;
    a {
      @include default-p;
      transition: color 0.3s, border-bottom 0.3s;
      border-bottom: 0.125rem solid transparent;
      color: $colorPrincipal;

      &:hover {
        color: $colorTextoSec;
        border-bottom: 0.125rem solid $colorTextoSec;
      }
      &:visited {
        color: $colorTextoSec;
      }
    }
    i {
      color: $colorPrincipal;
      &:hover {
        color: $colorTextoSec;
      }
      &:visited {
        color: $colorTextoSec;
      }
    }
  }
}
.menu-footer:last-child {
  font-size: 1.2rem;
}
#copyright {
  background-color: #c11f1f;
  padding: 1rem 1.5rem;
  text-align: center;
  color: white;
}
.grid-contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;

  .tarjeta {
    border: 1px solid $colorPrincipal;
    border-radius: 2%;
    margin: 4%;
  }
  .cont-img {
    height: 250px;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      padding: 2%;
    }
  }
  .cuerpo-tarjeta {
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
  }
  strong:first-child {
    color: $colorTextoSec;
  }
  strong {
    color: $colorPrincipal;
  }
}

.boton {
  @include default-p;
  background-color: $colorPrincipal;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  height: min-content;
  font-weight: inherit;
  &:hover {
    background-color: #c76839;
  }
}

/* Media Queries */
@include responsiveMin(1720px, 5);
@include responsiveMax(1024px, 3);
@include responsiveMax(720px, 2);

//Si necesito añadir más estilos personalizados para un tamaño específico, usar @content:
// @include responsiveMax(1024px, 3) {
//   .extra-class {
//     display: none;
//   }
// }
