section {
  .foto-principal {
    height: 60vh;
    border: 1px solid black;
    background-image: url("../IMAGES/aniamales.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
