@import url("https://fonts.googleapis.com/css2?family=Fauna+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@import "header";
@import "body";
@import "footer";
:root {
  @include color-scheme($background-colors, $dark-colors);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

//Se podria cambiar a piñon eliminando las siguientes líneas
//Para simular el cambio de modo
//Pero se ha añadido un boton con JS
html.dark-mode {
  --color-primary: #1a1a1a;
  --color-secondary: #32cd32;
  --color-accent: #0e6655;
  --color-dark: #ffffff;
  --color-success: #000000;
  --color-light: #000000;
  --color-footer: #001100;
}
